/* GENERAL STYLES */
* {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

li {
	float: left;
}

li a, .dropbtn {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 20px 16px;
	color: var(--null);
}

li a:hover, .dropdown:hover .dropbtn {
	color: var(--main);
	border-bottom: 2px solid var(--main);
}

/* UTILITIES */

:root {
  --null: #000000;
  --null-rev: #ffffff;
  --main: #4682b4;
  --sub: #1d3549;
  --m-1: #f5f5f5;
  --m-2: #e6e6e6;
  --s-1: #0e1b25;
}

.logo > img {
	height: inherit;
	width: auto;
}

.logo {
	float: left;
	padding-left: 8px;
}

/* TOP BAR */

#topbar {

	height: 60px;

	display: flex;
	margin-left: 500px;
}

/* DROPDOWN */

.dropbtn::after {
	content: " ";
	position: relative;
 	top: 10px;
  	left: 5px;
	border-width: 5px;
  	border-style: solid;
  	border-color: var(--main) transparent transparent transparent;
}

.dropdown:hover .dropbtn::after {
	content: " ";
	position: relative;
  	top: -13px;
  	left: 5px;
	border-width: 5px;
  	border-style: solid;
  	border-color: transparent transparent var(--main) transparent;
}

.dropdown:hover .dropdown-content {
	display: grid;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--sub);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	width: 100%;
	left: 0;
	padding: 0 10%;
	text-align: center;
}

.dropdown-content a {
	color: var(--null-rev);
}

.dropdown-content a i, .dropdown-content a div {
	padding-bottom: 10px;
}

.dropdown-content a:hover {
	background-color: var(--s-1);
	border-bottom: none;
	color: var(--null-rev);
}

.grid-2 {
	grid-template-columns: auto auto;
}

.grid-3 {
	grid-template-columns: auto auto auto;
}

/*******************************Login form *********************************************************/

.popup .content {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-150%) scale(0);
 width: 300px;
 height: 450px;
 z-index: 2;
 text-align: center;
 padding: 20px;
 border-radius: 20px;
 background: #262626;

 z-index: 1;
}

.popup .close-btn {
 position: absolute;
 right: 20px;
 top: 20px;
 width: 30px;
 height: 30px;
 color: white;
 font-size: 30px;
 border-radius: 50%;
 padding: 2px 5px 7px 5px;
 background: #292929;

 }

.popup.active .content {
transition: all 300ms ease-in-out;
transform: translate(-50%,-50%) scale(1);
}

.login h1 {
 text-align: center;
 font-size: 32px;
 font-weight: 600;
 padding-top: 20px;
 padding-bottom: 10px;
}

.login a {
 font-weight: 600;
 color: white;
}

.input-field .validate {
padding: 20px;
font-size: 16px;
border-radius: 10px;
border: none;
margin-bottom: 15px;
color: #bfc0c0;
background: #262626;

outline: none;
}
.first-button {
color: black;
font-size: 18px;
font-weight: 500;
padding: 20px 30px;

border: none;

margin-left: 1150px;
position:absolute; top:0; right:0;



outline: none;
}

.first-button:active {  
background: linear-gradient(145deg, #222222, #292929);
box-shadow:  5px 5px 10px #262626, 
             -5px -5px 10px #262626;
border: none;
}

.second-button {
color: white;
font-size: 18px;
font-weight: 500;
margin-top: 20px;
padding: 20px 30px;
border-radius: 40px;
border: none;
background: #262626;
box-shadow:  8px 8px 15px #202020, 
             -8px -8px 15px #2c2c2c;
transition: box-shadow .35s ease !important;
outline: none;
}

.second-button:active{
background: linear-gradient(145deg,#222222, #292929);
box-shadow: 5px 5px 10px #262626, -5px -5px 10px #262626;
border: none;
outline: none;
}
.login p{
color: #bfc0c0;
padding: 20px;
}





















/* BOTTOM BAR */

.bot {
	width: 100%;
}

.bot a:hover {
	background-color: var(--m-2);
	border-bottom: none;
}

.div-bot {
	padding: 18px 0 9px 0;
	font-weight: bold;
}

#botbar {
	display: grid;
	grid-template-columns: 40% 15% 15% 15% 15%;
	height: 254px;
	padding: 17px;
	text-align: center;
	background-color: var(--m-1);
	color: var(--null);
	background-color: #2d4a58;
	margin-top: 200px;
}

#botbar > div {
	height: 215px;
}

.images h2{

	text-align: center;
}