
/* GENERAL STYLES */


* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}



body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 0;
	scroll-behavior: smooth;
	background-color: ;
}

#bg-woman {
	background-image: url(https://c4.wallpaperflare.com/wallpaper/403/859/595/woman-muscles-pose-silhouette-wallpaper-preview.jpg);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	position: relative;
	height: 100vh;
	width: 100vw;
}

.custom-shape-divider-bottom-1632050936 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1632050936 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1632050936 .shape-fill {
    fill: #FFFFFF;
}
















.container{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
	flex-wrap: wrap;
}
.logo{
	width: 200px;
	cursor: pointer;



}
.navbar{
	width: 85%;
	height: 13%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: black;
	flex-wrap: wrap;



}
.btn{
	color: #fbfcfd;
	padding: 10px 25px;
	background: transparent;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}

.content{
	color: #fbfcfd;
	
	top: 0;
	left: 8%;
	transform: translateY(-200%);
	z-index: 2;
	margin-left: 100px;
	flex-wrap: wrap;
}
.content h1{
	font-size: 80px;
	margin: 10px 0 30px;
	font-family:CfSpaceshipRegular-2d4e ;
		text-shadow: 3px 3px gray;
	



}




.sidebar{
	width: 60px;
	height: 100vh;

	position: absolute;
	right: 0;
	top: 0;
	flex-wrap: wrap;

}
.menu{
	display: block;
	width: 25px;
	margin: 40px auto	0;
	cursor: pointer;
}
.social-links img, .useful-links img{
	width: 30px;
	margin: 5px auto;
	cursor: pointer;


}
.social-links {
	width: 50px;
	text-align: center;
	position: absolute;
	top: 70%;
	transform: translateY(-50%);


}
.useful-links {
	width: 50px;
	text-align: center;
	position: absolute;
	bottom: 30px;


}




.title-program {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 30px;
	font-weight: bolder;
	font-style: italic;







}
.wrapper{
	display: flex;
	width: 70%;
	justify-content: space-around;
	margin-left: 200px;
	transform: skew(5deg);
	flex-wrap: wrap;

}
.card{
	width: 280px;
	height: 360px;
	padding: 2rem 1rem;
	position: relative;
	display: flex;
	align-items: flex-end;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
	transition: 0.5s ease-in-out;



}


.card:hover{
	transform: translateY(20px);

}
.card:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;width: 100%;
	height: 100%;
	background: linear-gradient(to bottom,rgba(0,176,155,0.5),rgba(150,201,61,1));
	z-index: 2;
	transition: 0.5s all;
	opacity: 0;
}
.card:hover:before{
	opacity: 1;
}

.card img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;

}
.card .info{
	position: relative;
	z-index: 3;
	color: #fff;
	transform: translateY(30px);
	transform: 0.5s all;
	opacity: 0;
}

.card:hover .info{
	opacity: 1;
	transform: translateY(0px);

}
.card .info h1{
	margin: 0;
}
.card .info p{
	letter-spacing: 1px;
	font-size: 15px;
	margin-top: 8px;
	margin-bottom: 20px;

}



.classes{

display: flex;
margin-top: 300px;


}
.class-info{
	 border-style: solid;
  border-width: 5px;
  border-color: pink;
  border-radius: 10px;
  padding: 100px 0;

}
.classes img{
	width: 50%;
	height: 80vh;
	border-radius: 10px;
}
.classes h2{
	position: absolute;
	font-size: 100px;
	border-style: solid black	3px;
}
.classes p{
	margin-top: 300px;
	font-weight: bold;
	font-style: italic;
}











/**********************************Blog*************************************************************/




/*****************************LOGIN******************************************************************/

.popup{
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.popup-content{
	height: 250px;
	width: 500px;
	background-color: black;
	padding: 20px;
	position: relative;
	color: white;

}
.popup-content img{

	width: 30px;
  height: 30px;
}
input{
	margin: 20px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}
.close{
	position: absolute;
	top: -15px;
	right: -15px;
	height: 20px;
	width: 20px;
	cursor: pointer;

}










/********************NAVIGATION BAR******************************************************************/


.overlay {
     
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 1.9);
  overflow-x: hidden; 
  transition: 0.5s; 
}


.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px;

}


.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}


.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}




#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}