/* GENERAL STYLES */

body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 0;
}

.logo {
	color: black;
}

#main {
	background-image: url('https://data.1freewallpapers.com/download/barbell-gym-sport-1600x900.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 90vh;
	padding-top: 100px;
	margin-bottom: 0px;

	text-align: center;
	color:white;
	font-size: 20px;
}

#main a {
	background: red; /* ? */
	background-color: #2D4A58;
	width: 150px;
    line-height: 120px;
    padding: 0 15px;
    margin-bottom: 0;
    border-radius: 25px;

    text-align: center;
    text-decoration: none;
    font-size: 32px;
    color: darkred;
}

#main a:hover {
	background-color: darkblue;
 	border-radius: 25px;
    padding: 0 15px;
}

.work {
	margin-top: 60px;
	font-size: 30px;
}

.box {
	display: flex;
	font-size: 20px;
	text-align: justify;
	margin-left: 20px;
}

.join a {
	text-decoration: none;
}

.join h2 {
	background-color: skyblue;
	width:170px;
	margin-top: 130px;
	margin-left: 20px;
	padding-left: 20px;
	border-radius: 20px;

	color: black;
}

.title-program {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

.programs {
	display: flex;
	justify-content: center;
	justify-content: space-around;
}

.images {
	background-color: lightblue;
	padding-bottom: 40px;
}

.images img {
	height: 200px;
	width: 400px;
	margin-top: 0px;
}

.images:hover {
	transform: scale(1.2);
} 

.images p {
	text-align: center;
	font-weight: bolder;
}

.view-all  p {
	color: black;
	font-size: 20px;
	text-decoration: none;
}

/***********************Login form *******************/

.popup .content {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-150%) scale(0);
 width: 300px;
 height: 450px;
 z-index: 2;
 text-align: center;
 padding: 20px;
 border-radius: 20px;
 background: #262626;

 z-index: 1;
}

.popup .close-btn {
 position: absolute;
 right: 20px;
 top: 20px;
 width: 30px;
 height: 30px;
 color: white;
 font-size: 30px;
 border-radius: 50%;
 padding: 2px 5px 7px 5px;
 background: #292929;

 }

.popup.active .content {
transition: all 300ms ease-in-out;
transform: translate(-50%,-50%) scale(1);
}

.login h1 {
 text-align: center;
 font-size: 32px;
 font-weight: 600;
 padding-top: 20px;
 padding-bottom: 10px;
}

.login a {
 font-weight: 600;
 color: white;
}

.input-field .validate {
padding: 20px;
font-size: 16px;
border-radius: 10px;
border: none;
margin-bottom: 15px;
color: #bfc0c0;
background: #262626;

outline: none;
}
.first-button {
color: black;
font-size: 18px;
font-weight: 500;
padding: 20px 30px;

border: none;

margin-left: 1150px;
position:absolute; top:0; right:40 ; bottom: ;



outline: none;
}

.first-button:active {  
background: linear-gradient(145deg, #222222, #292929);
box-shadow:  5px 5px 10px #262626, 
             -5px -5px 10px #262626;
border: none;
}

.second-button {
color: white;
font-size: 18px;
font-weight: 500;
margin-top: 20px;
padding: 20px 30px;
border-radius: 40px;
border: none;
background: #262626;
box-shadow:  8px 8px 15px #202020, 
             -8px -8px 15px #2c2c2c;
transition: box-shadow .35s ease !important;
outline: none;
}

.second-button:active{
background: linear-gradient(145deg,#222222, #292929);
box-shadow: 5px 5px 10px #262626, -5px -5px 10px #262626;
border: none;
outline: none;
}
.login p{
color: #bfc0c0;
padding: 20px;
}
