a{
	text-decoration: none;
	color: black;
}
*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: sans-serif;
}
body{
		background-image:url("../img/regbg.jpg");
		display: flex;
		height: 100vh;
		justify-content: center;
		align-items: center;
		padding: 10px;
		color: black;
		background-size: 100% 100%;
		background-repeat: no-repeat;
}
.position{
	position: absolute;
	left: 560px;
}
.mform{
		max-width: 650px;
		background: white;
		padding: 10px 40px;
		border-radius: 25px;
		border: 1px solid;
		margin-top: 15px;
}
.mform .title{
		font-size: 40px;
		font-weight: 500;
		text-align: center;
		position: relative;
		padding-bottom: 10px;
}
.mform .title::before{
		content: ' ';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 4px;
		width: 100%;
		background: lightgray;
}
.mform form .user-info{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 20px 0 12px 0;
		top: 10;
}
.t-box1{
		margin-bottom: 10px;
		width: 49%;
}
.t-box2{
		margin-bottom: 10px;
		width: 100%;
}
.user-info .t-box1 .details{
		display: block;
		font-weight: 500;
		margin-bottom: 5px;
}
.user-info .t-box1 input{
		height: 45px;
		width: 100%;
		outline: none;
		border-radius: 10px;
		border: 3px solid #ccc;
		padding-left: 15px;
		font-size: 16px;
		border-bottom-width: 3px;
		transition all 0.3s ease;
		background: whitesmoke;
}
.user-info .t-box2 .details{
		display: block;
		font-weight: 500;
		margin-bottom: 5px;
}
.user-info .t-box2 input{
		height: 45px;
		width: 100%;
		outline: none;
		border-radius: 10px;
		border: 3px solid #ccc;
		padding-left: 15px;
		font-size: 16px;
		border-bottom-width: 3px;
		transition all 0.3s ease;
		background: whitesmoke;
}
form .birthday .birthday{
		display: flex;
		height: 38px;
		width: 100%;
		margin: 8px 1px;
		justify-content: space-between;
}
form .gender .category{
		display: flex;
		height: 38px;
		width: 100%;
		margin: 8px 1px;
		justify-content: space-between;
}
.user-info .t-box1 input:focus,
.user-info .t-box1 input:valid{
		border-color: #48dbfb;
}
.user-info .t-box2 input:focus,
.user-info .t-box2 input:valid{
		border-color: #48dbfb;
}
button {
		background-color: #1aff1a;
		color: white;
		padding: 14px 20px;
		margin: 5px 0;
		border: none;
		cursor: pointer;
		width: 100%;
		opacity: 0.9;
		border-radius: 25px;
}
button:hover {
		opacity:0.7;
}
.cancelbtn {
		padding: 14px 20px;
		background-color: #ff3333;
}
.cancelbtn {
		float: left;
		width: 49%;
}
.signupbtn{
		float: right;
		width: 49%;
}
.container {
		padding: 16px;
}
.clearfix::after {
		content: "";
		clear: both;
		display: table;
}