* {
  box-sizing: border-box;

}

body {
  font-family: Arial;
  padding: 20px;
  background-image: url('BLOG.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.column {
  position: relative;
  left: 180px;
  width: 70%;
}

.img1 {
  background-image: url('FOOD.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100%;
  padding: 20px;
}
.img2 {
  background-image: url('BB.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100%;
  padding: 20px;
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   border-radius: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

#more {
  display: none;
}
.btndes{
  font-size: 12px;
  padding: 12px 24px;
  border-radius: 25px;
}
.btndes:hover {
  background-color: #e7e7e7;
}

@media screen and (max-width: 800px) {
  .column {   
    width: 100%;
    padding: 0;
  }
}