* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 5px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.column {   
  width: 70%;
}

.img1 {
  background-image: url('FOOD.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100%;
  padding: 20px;
}
.img2 {
  background-image: url('BB.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100%;
  padding: 20px;
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .column {   
    width: 100%;
    padding: 0;
  }
}