.popup{
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.popup-content{
	height: 250px;
	width: 500px;
	background-color: black;
	padding: 20px;
	position: relative;
	color: white;

}
.popup-content img{

	width: 30px;
  height: 30px;
}
input{
	margin: 20px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}