/* GENERAL STYLES */
* {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;

}

li {
	float: left;
}

li a, .dropbtn {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 20px 16px;
	color: #999999;
}

li a:hover, .dropdown:hover .dropbtn {
	color: black;
	border-bottom: 2px solid var(--main);
}

/* UTILITIES */

:root {
  --null: #000000;
  --null-rev: #ffffff;
  --main: #4682b4;
  --sub: #1d3549;
  --m-1: #f5f5f5;
  --m-2: #e6e6e6;
  --s-1: #0e1b25;
}

.logo > img {
	height: inherit;
	width: auto;
}

.logo {
	float: left;
	padding-left: 8px;
}
.logobot > img{
	height: inherit;
	width: 250px;
}
.logobot{
	float: left;
	padding-left: 8px;
}

/* TOP BAR */

#topbar {

	height: 60px;

	display: flex;
	margin-left: 500px;
}

/* DROPDOWN */

.dropbtn::after {
	content: " ";
	position: relative;
 	top: 10px;
  	left: 5px;
	border-width: 5px;
  	border-style: solid;
  	border-color: var(--main) transparent transparent transparent;
}

.dropdown:hover .dropbtn::after {
	content: " ";
	position: relative;
  	top: -13px;
  	left: 5px;
	border-width: 5px;
  	border-style: solid;
  	border-color: transparent transparent var(--main) transparent;
}

.dropdown:hover .dropdown-content {
	display: grid;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--sub);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	width: 100%;
	left: 0;
	padding: 0 10%;
	text-align: center;
}

.dropdown-content a {
	color: var(--null-rev);
}

.dropdown-content a i, .dropdown-content a div {
	padding-bottom: 10px;
}

.dropdown-content a:hover {
	background-color: var(--s-1);
	border-bottom: none;
	color: var(--null-rev);
}

.grid-2 {
	grid-template-columns: auto auto;
}

.grid-3 {
	grid-template-columns: auto auto auto;
}






















/* BOTTOM BAR */

.bot {
	width: 100%;
	text-decoration-color: white;
}

.bot a:hover {
	background-color: var(--m-2);
	border-bottom: none;
}

.div-bot {
	padding: 18px 0 9px 0;
	font-weight: bold;
	color: white;
}
#botbar {
	display: grid;
	grid-template-columns: 40% 15% 15% 15% 15%;
	height: 200px;
	padding: 17px;
	text-align: center;
	background-color: var(--m-1);
	color: var(--null);
	background-color: #262626;
	margin-top: 200px;
}

#botbar > div {
	height: 180px;
}

.images h2{

	text-align: center;
}