* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background-image: url('../img/blog.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.column {
  position: relative;
  left: 180px;
  width: 70%;
}
.title{
  border-bottom: 4px solid lightgray;
  width: 100%;
}
.img1 {
  background-image: url('../img/food.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100%;
  padding: 20px;
}
.img2 {
  background-image: url('../img/bodybuilding.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100%;
  padding: 20px;
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   border-radius: 25px;
   border: 1px solid;
   padding: 10px 40px;
   box-shadow: 5px 10px #a3a3c2;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

#more1, #more2 {
  display: none;
}
.btndes{
  font-size: 12px;
  padding: 12px 24px;
  border-radius: 25px;
  background-color: #99c2ff;

}
.btndes:hover {
  background-color: #66a3ff;
}

@media screen and (max-width: 800px) {
  .column {   
    width: 100%;
    padding: 0;
  }
}