/*====================================================================================*/
/*= important > inline > id nesting > id > class nesting > class > tag nesting > tag =*/
/*====================================================================================*/

/*============ GENERAL STYLES ============*/
:root {

}

* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: black;
}

/*a:hover {
	color: red;
} SEEN IN ADMIN*/

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/*============ LANDING PAGE ============*/

/*------------ Viewport Home ------------*/
.home {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.home > * {
	position: absolute;
}

#bg-woman {
	background-image: url(https://c4.wallpaperflare.com/wallpaper/403/859/595/woman-muscles-pose-silhouette-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.custom-shape-divider-bottom-1632050936 {
	width: 100vw;
	left: 0;
	bottom: 0;
}

.custom-shape-divider-bottom-1632050936 > svg {
	position: relative;
	display: block;
	height: auto;
	width: inherit;
}

.custom-shape-divider-bottom-1632050936 .shape-fill {
	fill: white;
}

.logo {
	left: 50px;
	top: -50px;
	width: 200px;
	cursor: pointer;
}

.welcome {
	height: inherit;
	left: 10%;
	color: #fbfcfd;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.welcome > h1 {
	font-size: 80px;
	margin: 10px 0 30px;
	font-family: CfSpaceshipRegular-2d4e;
	text-shadow: 3px 3px gray;
}

.welcome > a > button {
	color: #fbfcfd;
	padding: 10px 25px;
	background: transparent;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}

.sidebar {
	height: calc(100vh - 5%);
	width: 5%;
	right: 0;
	padding: 2% 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu {
	height: 25px;
	cursor: pointer;
}

.links > *, .links > * > img {
	width: 30px;
	margin: 5px auto;
	cursor: pointer;
}

/*------------ menu overlay ------------*/
.overlay {
	position: fixed;
	height: 100vh;
	width: 0;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s;

	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 1.9);
}

.overlay-content {
	position: relative;
	width: 100%;
	top: 25%;
	text-align: center;
}

.overlay a {
	display: block;
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  	color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*------------ Programs Offered ------------*/
#programs, #highlights {
	padding: 30px 0 20px;
	margin: 100px 0 50px;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	font-style: italic;
}

.wrapper {
	margin-left: 1%;
	display: flex;
	justify-content: space-around;
	transform: skew(5deg);
}

.card:before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
	z-index: 1;
	transition: 0.5s all;
	opacity: 0;
}

.card:hover:before {
	opacity: 1;
}

.card {
	position: relative;
	width: 280px;
	height: 360px;
	padding: 3rem 1rem 0;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
	
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}

.card:hover {
	transform: translateY(20px);
}

.card:hover > .info {
	opacity: 1;
}

.card > img {
	position: absolute;
	width: 112%;
	height: 100%;
	top: 0;
	left: -6%;
	object-fit: cover;
	transform: skew(-5deg);
}

.info {
	position: relative;
	left: 3%;
	z-index: 2;
	color: #fff;
	transform: 0.5s all;
	opacity: 0;
	transform: skew(-5deg);
}

.info > p {
	letter-spacing: 1px;
	font-size: 15px;
	margin-top: 8px;
	margin-bottom: 20px;
}

.offers {
	padding: 30px 0 20px;
	margin-bottom: 50px;
	text-align: center;
}

/*------------ Free Classes ------------*/
.classes {
	display: flex;
	flex-direction: row;
}

.classes > * {
	border-radius: 1rem;
}

.classes > img {
	width: 60vw;
	height: auto;
}

.class-info {
	position: relative;
	width: calc(40vw - 10px);
	border: solid pink 5px;
	padding: 100px 0;
}

.class-info > h2 {
	position: relative;
	font-size: 60px;
	border: solid black 3px;
	margin: 0 1rem 1rem;
}

.class-info > p {
	margin: 0 1rem;
	font-weight: bold;
	font-style: italic;
}

/*------------ Go Top ------------*/
#go-top {
	position: fixed;
	right: 30px;
	bottom: 20px;
	z-index: 99;
	display: none;
	padding: 15px;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	outline: none;
	color: white;
	background-color: red;
	cursor: pointer;
}

#go-top:hover {
	background-color: #555;
}

/*------------ Carousel ------------*/
.mySlides {
	display:none;
}

.unline {
	height: 4px;
	width: 20%;
	background: red;
}

/*------------ Footer ------------*/

#botbar {
	padding: 12px;
	margin-top: 200px;

	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

#botbar > .logo {
	height: 100px;
	width: 200px;
	cursor: pointer;
	align-self: center;
}

#botbar > .logo > div {
	height: inherit;
	width: inherit;
	background-image: url(../_img/gofit_banner.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#botbar, #copy {
	background-color: #262626;
}

#botbar, #botbar a, #copy {
	color: white;
}

#botbar > ul li {
	height: 2.5rem;
	width: 300px;
	margin: 6px 0 12px 0;
}

#botbar > ul li a {
	display: table-cell;
	height: inherit;
	width: inherit;
	text-align: center;
	vertical-align: middle;
}

#botbar > ul li:hover, #botbar > ul li:hover a {
	font-weight: bold;
	background-color: white;
	color: #262626;
}

#contacts {
	display: flex;
	flex-flow: column wrap;
}

#contacts > *:not(:first-child) {
	padding: 6px 0 6px 0;

}

#contacts > *:not(:last-child) {
	border-bottom: 2px solid white;
}

#contacts > ul > li {
	margin: 3px 0 6px 0;
}

#contacts > ul > li:first-child {
	font-weight: bold;
}

#copy {
	text-align: right;
}

/*============ USER LOGIN ============*/

/*------------ Container ------------*/
.u-container {
	/*home - landing page*/
	position: unset;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

/*------------ Content ------------*/
.u-container > .content {
	position: relative;
	height: 280px;
	width: 400px;
	padding: 10px;
	background-color: black;
	color: white;
	border-radius: 25px;
}

.u-container > .content > img {
	height: 50px;
	width: 50px;
}

.u-container > .content > input {
	display: block;
	width: 70%;
	margin: 20px auto;
	padding: 8px;
	border: 1px solid gray;
}

.u-container > .content > button {
	margin-bottom: 10px;
	padding: 10px 55px;
	background: transparent;
	color: #fbfcfd;
	outline: none;
	cursor: pointer;
}

.u-container > .content a {
	color: red;
}

/*============ REGISTRATION FORM ============*/

/*------------ Body ------------*/
#reg-body {
	position: relative;
	height: calc(100vh - 20px);
	padding: 10px;
	color: black;
	background-image: url("../_img/orf_bg_W.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

/*------------ Form ------------*/
.formbox {
	position: absolute;
	max-width: 650px;
	left: 560px;
	padding: 10px 40px;
	background: ghostwhite;
	border: 1px solid;
	border-radius: 25px;
}

/*------------ elements ------------*/
.title::before {
	position: absolute;
	height: 4px;
	width: 100%;
	content: ' ';
	left: 0;
	bottom: 0;
	background: lightgray;
}

.title {
	position: relative;
	padding-bottom: 10px;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
}

.user-info {
	margin: 20px 0 12px 0;
	/*top: 10; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.t-box1 {
	margin-bottom: 10px;
	width: 47%;
}

.t-box2 {
	margin-bottom: 10px;
	width: 100%;
}

[class^="t-box"] > input {
	height: 30px;
	width: 100%;
	padding-left: 15px;
	outline: none;
	font-size: 16px;
	border-bottom-width: 3px;
	border: 3px solid #ccc;
	border-radius: 10px;
	background: whitesmoke;
	transition: all 0.3s ease;
}

[class^="t-box"] > input:focus, 
[class^="t-box"] > input:valid {
	border-color: #48dbfb;
}

[class^="t-box"] > .details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.birthday > .birthday, 
.gender > .category { /*??? & fix nested*/
	height: 30px;
	width: 100%;
	margin: 8px 1px;
	display: flex;
	justify-content: space-between;
}

button[class*="btn"] {
	width: 100%;
	padding: 14px 20px;
	margin: 5px 0;
	color: white;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	opacity: 0.9;
}

button[class*="btn"]:hover {
	opacity: 0.7;
}

.cancelbtn {
	float: left;
	width: 49%;
	padding: 14px 20px;
	background-color: #ff3333;
}

.signupbtn {
	float: right;
	width: 49%;
	background-color: #1aff1a;
}

/*============ ADMIN: LANDING PAGE ============*/

/*------------ Sidebar ------------*/
.side {
	position: fixed;
	display: block;
	height: 100vh;
	width: 20%;
	top: 0;
	left: 0;
	background-color: #003366;
	color: white;
	text-align: left;
	line-height: 200%;
}

.side > h1 {
	align-items: center;
	background-size: cover;
	text-align: center;
	font-size: 25px;
}

.side > a {
	display: block;
	line-height: 300%;
	margin-top: 10px;
	justify-content: right;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-weight: bold;
	font-family: Koh Santepheap;
	text-decoration: none;
	color: white;
}

.side > img {
	height:200px;
	width: 200px;
	margin-left: 30px;
}

/*------------ Admin Container ------------*/
.admin > .container {
	width: 80%;
	margin-left: 20%;
}

/*============ ADMIN: LANDING PAGE ============*/

/*------------ Dashboard ------------*/
.admin-content {
	display: flex;
}

.admin-content > h1 {
	margin: 20px 0 100px 20px;
	text-align: center;
	align-items: center;
}

.admin-content > .content {
	margin-top: 100px;
	margin-left: 10px ;
	text-align: center;
	background-color: #003366;
	color: white;

	padding: 20px 30px;
	height: 20vh;
	overflow: hidden;
	border-radius: 10px;
}

.admin-content > .content > p {
	margin-top: 50px;
	font-size: 30px;
}

.admin-content > .content > h2 {
	margin-top: 20px;
	font-size: 15px;
}

/*------------ Admin Logs ------------*/
.admin-log {
	height: 100vh;
	width: 75vw;
	margin-top: 50px;
	margin-left: 2%;
	align-items: center;
	background-color: #003366 ;
	color: white;
	text-align: center;
	border-radius: 30px;
}

.admin-log > h1 {
	margin-bottom: 100px;
	border-bottom: solid 1px black;
}

/*------------ Create Announcements ------------*/
.announcement {
	line-height: 300%;
	margin-top: 20px;
	margin-left: 2%;
	text-align: left;
	justify-content: left;
	cursor: pointer;
}